
body{
    background-color: #d3d3d3;
}
/**CENTRALIZAÇAO  **/
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}  

/**BOTAO  **/
 a{
    text-decoration: none;
    color:black;
}
/**BOTAO  tela operador **/
#botoes button {
    color: black;
    padding: 14px 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 12px;
    width: 260px;
      }

      #botoes button:hover {
        background-color: gray;
      }
    
/** FORMS **/

    label {
        font-size: 20px;
        display: inline-block;
        width: 90px;
        text-align: center;
    }
    input{
        color: black;
        font-size: 20px;
        border: 2px solid black;
        border-radius: 12px;
        width: 260px;
    }
    .botao_cadastra_produto{
        color: black;
        font-size: 20px;
        border: 2px solid black;
        border-radius: 12px;
        width: 260px;
        width: 215px;
    }
    .botao_cadastra_produto:hover {
        background-color: gray;
      }

      .check_torna_indisponivel{
          height: 35px;
      }








