@{
    ViewBag.Title = "About";
}
<h2>Sobre nós</h2>


<p>Projeto desenvolvido para o projeto interidsciplinar III das disciplinas Análise e projeto de sistemas e Tópicos especiais em desenvolvimentos de sistemas.</p>
<p>Alunos envolvidos:</p>
<br />
<p>Bruno Souto da Silva RGM: 2306083-2</p>
<br />
<p>Franklin Vinicius dos santos RGM: 2297854-2</p>
<br />
<p>Gabriel dos Santos Guerra RGM: 2338933-8</p>
<br />
<p>Guilherme Nascimento Neves RGM: 2302489-5</p>
<br />
<p>Gustavo Ferreira Ramires Pêgo: 2302489-5</p>
<br />
<p>Stephany da Silva RGM: 2495095-5</p>
<br />